.btn
  outline none
  color #8c8c8c
  border 1px solid #e4e4e4
  border-radius 33px
  display inline-block
  padding 4px 18px 4px 18px
  line-height 20px
  &:hover
    border-color $blue
    color white
    background-color $blue